<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Content" description="Webiste Content" dependencies="Foundation.*">
                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
                    <predicate>
                        <include name="Content.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Content" />
                        <!--<include name="Content.Templates" database="master" path="/sitecore/templates/Feature/Content" />-->
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>