<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Project.Website" description="IAS content" dependencies="Foundation.*,Feature.*" extends="Helix.Project">
                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
                    <predicate>
                        <!--<include name="Templates" database="master" path="/sitecore/templates/Project/Page Types" />-->
                        <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/Website" />
                        <include name="Content" database="master" path="/sitecore/content/Home" />
                        
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>