

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.SocialShare" description="SocialShare Content" dependencies="Foundation.*">
                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
                    <predicate>
                        <include name="SocialShare.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Social Share" />
                        <include name="SocialShare.Templates" database="master" path="/sitecore/templates/Feature/Social Share" />
                        <include name="SocialShare.Modules" database="master" path="/sitecore/system/Modules/AddThis Plugin" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>